@import "fonts.css";
@import "normalize.css";
@import "global.css";

/* HEADER */

.header {
	padding: 60px 0 25px;
}

.header__title {
	font-weight: 900;
	font-size: 60px;
	line-height: 120%;
	margin-bottom: 30px;
}

.header__text {
	padding-right: 60px;
}

.header__text:not(:last-of-type) {
	margin-bottom: 30px;
}

.header__text:last-of-type {
	margin-bottom: 50px;
}

.menu, .footer__wrapper {
	max-width: 1140px;
	padding: 25px 15px;
	background: #F1F1F1;
	border-radius: 10px;
	margin: 0 auto;
}

.menu__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 120%;
	margin-bottom: 20px;
	padding-left: 30px;
}

.menu__body {
	padding-left: 55px;
}

.menu__item:not(:last-child) {
	margin-bottom: 10px;
}

.menu__item {
	color: #02535f;
}

.menu__link {
	color: #02535f;
	text-decoration: none;
	border-bottom: 1px solid #000000;
	font-size: 20px;
}

/* end HEADER */


.article__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 120%;
	margin-bottom: 30px;
}

.article__block-top {
	margin-bottom: 18px;
}



.article__right-text {
	padding-left: 30px;
	display: inline-block;
	max-width: 510px;
	vertical-align: top;
}

.article__block-text {
	display: inline-block;
	max-width: 480px;
}

.article__img:not(:first-child) {
	padding-left: 36px;
	display: inline-block;
}

.article__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
}

.article__text:not(:last-of-type) {
	margin-bottom: 30px;
}


.article__bold {
	font-weight: 700;
}

.article__italic {
	font-style: italic;
}

.article__figure {
	margin-bottom: 30px;
}

.article__figure:last-child {
	margin-bottom: 0;
}

.article__figcaption {
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 30px;
}

.article__small {
	margin: 0 auto 30px auto;
	display: block;
}

.article__small:last-child {
	margin: 0 auto;
}

.article__menu {
	margin-bottom: 30px;
}

.article__single {
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 30px;
}

.article__important {
	font-weight: 400;
	font-size: 0px;
	line-height: 120%;
	margin-bottom: 30px;
	border-top: 1px solid #000;
	color: #5E5E5E;


}

.article__subtext {
	padding: 15px 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	border: 1px solid #000000;
	border-top: none;
}

.footer {
	padding: 25px 0 50px;
}

.footer__wrapper {
	background: #F1F1F1;
	border-radius: 10px;
	padding: 25px 30px 25px 45px;
}

.footer__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 120%;
	margin-bottom: 20px;
}

.footer__list {
	margin-bottom: 30px;
}

.footer__item {
	list-style: none;
	font-size: 20px;
	line-height: 120%;

}

.footer__item:not(:last-child) {
	margin-bottom: 10px;
}